<h1>hello digvesh dadhaniya</h1>

<div class="py-2"><button class="btn btn-success" routerLink="/first-component/digvesh">Click First</button></div>
<div class="py-2"><button class="btn btn-success" routerLink="/second-component">Click Second</button></div>
<!-- <div class="py-2"><button class="btn btn-success" [routerLink]="['params-component','hello']">Click Params</button></div> -->
<div class="py-2"><button class="btn btn-success" [routerLink]="['params-component',{name:'kriva'}]">Click Params</button></div>
<div class="py-2"><button class="btn btn-success" routerLink="/sjflsd">Click WildCard</button></div>
<div class="py-2"><button class="btn btn-success">Click Here</button></div>
<router-outlet></router-outlet> 
