<div class="row mt-4">
  <div class="col-6 text-center">
    <div class="template">
      <ng-template #dynamicComponet></ng-template>
    </div>
    <div class="my-4">
      <button class="btn btn-success" (click)="onSubmit()"  [hidden]="components.size>0?false:true">Submit</button>
    </div>
  </div>
  <div class="col-6 mt-4 ">
    <div class="row">
      <div class="form-group dynamicArray">
        <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
        <span *ngIf="notValideSyntext" class="error">Invalide JSON Object</span>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" (input)="onAdd(input)" #input ></textarea>
      </div>
      <div class="mt-4">
      </div>
    </div>
    <div class="row">
      <app-table></app-table>
    </div>
  </div>
</div>