<div class="row mx-4">
    <form [formGroup]="userDetailsform" (ngSubmit)="onSubmit()">
        <app-form-creator [fields]="fields"></app-form-creator>
        <button type="submit" [disabled]="!userDetailsform.valid"  class="btn btn-success mx-4 my-4">Submit</button>
    </form>
</div>

<div class="rows" >
	<ng-template #content let-modal >
		<div class="ng-template">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Add Component</h4>
			<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
		</div>
		<div class="modal-body">
			<form [formGroup]="addComponentForm">
				<app-form-creator [fields]="metaField"></app-form-creator>
			</form>
		</div>
		<div class="modal-footer">
			<button type="submit" [disabled]="!addComponentForm.valid" class="btn btn-outline-dark" (click)="modal.close()">Add</button>
		</div>
	</div>
	</ng-template>
</div>



<div class="row">
    <button class="btn btn-success mx-4 my-4 col-3" (click)="onAddText(content,'text')">AddText</button>
    <button class="btn btn-success mx-4 my-4 col-3" (click)="onAddText(content,'textarea')">AddTextArea</button>
    <button class="btn btn-success mx-4 my-4 col-3" (click)="onAddText(content,'select')">AddSelect</button>
</div>

