<!-- <ag-grid-angular 
	style="width:800px; height:800px;" 
  [pinnedTopRowData]="topRow"
  [pinnedBottomRowData]="bottomRow"
  [gridOptions]="gridOptions"
	[rowData]="rowData" 
  (gridReady)="OnGridReady($event)"
	[columnDefs]="columnDefs">
</ag-grid-angular>

<button (click)="updateRow()">Update Row</button>
<button (click)="updateCell()">Update Cell</button>
<button (click)="updateAllRow()">Update All Row</button>
<button (click)="clear()"> Clear </button>
<button (click)="freeze()">Freeze</button> -->

<!-- <app-table></app-table> -->
<!-- <app-infinite-scroll></app-infinite-scroll> -->
<!-- <app-column-group></app-column-group> -->
<!-- <app-row-data></app-row-data> -->

<!-- <app-sort-order-visibility-rowgroup></app-sort-order-visibility-rowgroup> -->

<!-- <app-row></app-row> -->
<!-- <app-row-group></app-row-group> -->
<!-- <app-update></app-update> -->
<!-- <app-update-cell-row></app-update-cell-row> -->
<!-- <app-cell-render></app-cell-render> -->
<app-fillter></app-fillter>