<div class="row justify-content-md-center mt-4">
    <h1>Product Component</h1>
    <div class="col-3"><button class="btn btn-success" routerLink="laptop">laptop</button></div>
    <div class="col-3"><button class="btn btn-success" routerLink="/laptop">laptop parent</button></div>
    <div class="col-3"><button class="btn btn-success" routerLink="mobile">mobile</button></div>
    <div class="col-3"><button class="btn btn-success" routerLink="mouse">mouse</button></div>
</div>
<div class="row justify-content-md-center mt-4">
    <router-outlet></router-outlet>
</div>
<app-viewchild></app-viewchild>
<!-- <app-home></app-home> -->

