<h1>update-cell-row works!</h1>

<div style="margin-bottom: 1rem;">
    <button (click)="setPriceOnToyota()">Set Price on Toyota</button>
    <button (click)="setDataOnFord()">Set Data on Ford</button>
    <button (click)="updateSort()" style="margin-left: 15px">Sort</button>
    <button (click)="updateFilter()">Filter</button>
  </div>
  <ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [animateRows]="true"
    [getRowId]="getRowId"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
