 <h2>hello</h2>

<div><a routerLink="a">A</a></div>
<div><a routerLink="b">B</a></div>
<div><a routerLink="c">C</a></div>
<router-outlet></router-outlet>

<!-- <app-user></app-user>
<app-panel></app-panel>
<app-com2></app-com2> -->

<!-- <app-merge></app-merge> -->
<!-- <app-of-from></app-of-from> -->
<!-- <app-filter></app-filter> -->
<!-- tap operator also say do operator -->
<!-- <app-tap></app-tap> -->
<!-- <app-pluck></app-pluck> -->
<!-- <app-retry></app-retry> -->
<!-- <app-subject></app-subject> -->
<!-- <app-mergemap></app-mergemap> -->
<app-concat-map></app-concat-map>
<!-- <app-switch-map></app-switch-map> -->
<!-- <app-concat-merge-switch></app-concat-merge-switch> -->
<!-- <app-exhaustmap></app-exhaustmap> -->
<!-- <app-fork-join></app-fork-join> -->
<!-- <app-catch-error></app-catch-error> -->
<!-- <app-service-angular></app-service-angular> -->

<!-- Pipe -->

<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-http></app-http>    -->
<!-- <app-use-of-service></app-use-of-service>
<app-child></app-child> -->