<div class="jumbotron bg-danger">
    <h1 class="display-4">Hello, Contact!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <div class="row">
    
    
    <div class="col-3"><a class="btn btn-warning" routerLink="angular">Angular</a></div>
        <div class="col-3"><a class="btn btn-warning" routerLink="mongodb">MongoDb</a></div>
        <div class="col-3"><a class="btn btn-warning" routerLink="node">Node</a></div>
    </div>
    
</div>

<div>
    <router-outlet>     </router-outlet>
</div>