<div class="row my-3" [formGroup]="formGroups">
        <label>{{displayName}} <span *ngIf="isRequired" style="color:red">*</span></label>
        <input [type]="type" [placeholder]="displayName" [formControlName]="fieldName">
        <p *ngIf="(formGroups.controls[fieldName].invalid && !formGroups.controls[fieldName].untouched) || (storageService.isSubmited && formGroups.controls[fieldName].invalid)" style="color: red;">{{ this.formGroups.controls[this.fieldName].errors?.['error']}}</p>
</div>
<!-- <button (click)="onSubmits()">dffffffff</button> -->